.cover__subtitle {
	font-family: Inter, 'Arial', 'Helvetica', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	/* or 122% */
	text-align: center;
	max-width: 360px;
	min-height: 66px;
	margin: 0;
	padding: 0;
	z-index: 2;
	color: white;
}

@media screen and (max-width: 620px) {
    .cover__subtitle {
        font-size: 14px;
		line-height: 16px;
    }
}