.cover__background {
	display: block;
	background-image: url(../../../images/cover-trains.jpg);
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-bottom: calc(100%/1.6);
	z-index: -2;
}